@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color1: #FFF9F2;
    --color2: #FC6F42;
    --color3: #FFCE49;
    --color4: #CCA3FF;
    --color5: #FFE0D3;
    --color6: #FFCF49;
    --color7: #D5F178;
    --color8: #FFD6D6;
    --color9: #282220;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 .6em;
}

/* NAVBAR SECTION START */
.navbars, .navbar__wrapper{
    background-color: var(--color2);
    z-index: 1;
}

.navbars{
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar__wrapper{
    max-width: 1216px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logos{
    max-width: 180px;
}

.navbar__lists{
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.navbar__lists a{
    font-size: 1em;
    color: var(--color1);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.navbar__lists a:hover{
    color: var(--color9);
}

.navbar__ctas{
    /* background-color: cadetblue; */
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar__cta-btnlogin{
    color: var(--color1);
    transition: all .2s ease-in-out;
}

.navbar__cta-btnlogin:hover{
    color: var(--color9);
}

.navbar__cta-btnregister{
    width: 140px;
    border: 1px solid var(--color9);
    font-size: 1em;
    color: var(--color9);
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
    background-color: var(--color3);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    transition: all .2s ease-in-out;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.navbar__cta-btnregister:hover{
    color: var(--color1);
}

.navbar__toggle-menu{
    display: none;
    color: var(--color1);
}

.navbar__toggle-menu i{
    font-size: 35px;
}
/* NAVBAR SECTION END */
.headers{
    margin-top: 90px;
    padding-top: 30px;
    height: 56vh;
}
.header__container-hero{
    height: 620px;
    display: flex;
    justify-content: center;
    gap: 0.6em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.header__row-1{
    border-radius: 1em;
    flex: 1.5;
    display: flex;
    gap: 0.6em;
    flex-direction: column;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.header__row-2{
    border-radius: 1em;
    flex: 1.9;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.header__row-3{
    border-radius: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.header__col-1{
    background-image: url('img/fashion-1.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.header__col-2{
    flex: 1;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    background-color: var(--color4);
}

.header__title{
    flex: 1.5;
    font-size: 1.56em;
    padding: 35px 40px 0px 40px;
}
.header__title h2{
    font-weight: 600;
}
.header__ctaicon{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 40px 35px 50px;
}
.header__ctaicon a{
    border: 1px solid var(--color9);
    background-color: var(--color1);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    transition: all .2s ease-in-out;
    align-items: center;
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.header__ctaicon a:hover{
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.header__ctaicon i{
    font-size: 23px;
    color: var(--color9);
}

.header__ctaicon img{
    width: 45px;
}

.header__col-3{
    flex: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    background-color: var(--color5);
    color: var(--color9);
    border-radius: 1em;
    padding: 20px 40px 35px 50px;
    position: relative;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.bubble-user{
    display: flex;
    gap: .8em;
}

.header__col-3 h1{
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
}

.h1-text-middle{
    margin-top: -30px;
}

.bubble-user img{
    width: 100px;
}

.header__col-3 p{
    margin-top: 12px;
    font-size: 1rem;
    line-height: 25px;
}

.header__col-3 a{
    width: 140px;
    border: 1px solid var(--color9);
    font-size: 1em;
    color: var(--color1);
    text-align: center;
    padding: 10px 0;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--color2);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    transition: all .2s ease-in-out;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.header__col-3 a:hover{
    font-weight: 600;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.header__col-4{
    flex: .8;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 4em;
    background-color: var(--color6);
    border-radius: 1em;
    color: var(--color9);
    padding: 20px 40px 35px 50px;
    text-transform: capitalize;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.header__col-4-item-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.header__col-4-item-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.header__col-4-item-left h3, .header__col-4-item-right h3{
    font-size: 2.5rem;
    font-weight: 600;
}

.header__col-4-item-left span, .header__col-4-item-right span{
    font-size: 1.7rem;
    font-weight: 500;
}




.header__col-5{
    flex: 1;
    background-color: var(--color7);
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--color9);
    border-radius: 1em;
    padding: 35px 40px 0px 40px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.header__col-5-item-left{
    display: flex;
    justify-content: space-between;
}
.progress-bar{
    width: 50px;
}
.bubble-text-col-5{
    width: 90px;
}

.header__col-5-item-right{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.header__col-5-item-right h3{
    font-size: 2.5rem;
    font-weight: 600;
}

.header__col-5-item-right span{
    font-size: 1.7rem;
    color: var(--color9);
    font-weight: 500;
}

.header__col-5-item-right a{
    width: 60px;
    height: 60px;
}
.header__col-5-item-right i{
    font-size: 2rem;
    color: var(--color9);
}

.header__col-6{
    flex: 2;
    background-image: url('img/fashion-2.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

/* SECTION BEST SELLER START*/
.section__best-seller{
    margin-top: 90px;
}

.best__seller-wrapper{

    /* background-color: #CCA3FF; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.header__best-seller{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desc__best-seller{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--color9);
}
.desc__best-seller span{
    font-size: 2.1rem;
    text-transform: capitalize;
    font-weight: 500;
}
.cta__explore-more{
    width: 180px;
    border: 1px solid var(--color9);
    font-size: 1em;
    color: var(--color1);
    text-align: center;
    padding: 10px 0;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--color2);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    transition: all .2s ease;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}
.cta__explore-more:hover{
    /* font-weight: 600; */
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.header__card-best-seller{
    /* background-color: #CCA3FF; */
    height: 713px;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.card__item-best-seller-1{
    background-image: url('img/fashion-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
    flex: 1;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.card__item-best-seller-2{
    background-image: url('img/fashion-4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
    flex: 1;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.card__item-best-seller-3{
    background-image: url('img/fashion-6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
    flex: 1;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.card__item-best-seller-1, .card__item-best-seller-2, .card__item-best-seller-3{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.card__item-best-seller-1:hover, .card__item-best-seller-2:hover, .card__item-best-seller-3:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}


.card__cta-best-seller{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.cta-bs-wrapped{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-bottom: 23px;
    position: relative;
}

.cta__add-to-cart{
    width: 200px;
    border: 1px solid var(--color9);
    font-size: 1em;
    color: var(--color1);
    text-align: center;
    padding: 10px 0;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--color2);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    transition: all .2s ease;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.cta__container-select{
    width: 130px;
    position: relative;
}
.cta__select-cart{
    width: 100%;
    appearance: none;
    border: 1px solid var(--color9);
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    padding: 10px 0px;
    background-color: var(--color1);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    border-radius: 50px;
    color: var(--color9);
}

.cta__arrow-down{
    width: 25px;
    height: 25px;
    /* background-color: #282220; */
    position: absolute;
    top: 7.5px;
    right: 10px;
}
.cta__arrow-down i{
    font-size: 25px;
}

.cta-bs-wrapped{
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.card__cta-best-seller:hover .cta-bs-wrapped{
    opacity: 1;
}

.hover-effect-seller{
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.hover-effect-seller:hover{
    box-shadow: 8px 8px 0px -2px var(--color9);
}


/* SECTION BEST SELLER END*/



@media screen and (max-width: 961px) {
  .navbar__lists, .navbar__ctas{
    display: none;
  }
  .navbar__toggle-menu{
    display: inline-block;
  }
}