@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color1: #FFF9F2;
    --color2: #FC6F42;
    --color3: #FFCE49;
    --color4: #CCA3FF;
    --color5: #FFE0D3;
    --color6: #FFCF49;
    --color7: #D5F178;
    --color8: #FFD6D6;
    --color9: #282220;
    --color11: #EBCBBE;
    --coloe12: #FFFFFF;
    --color13: #F0E5E1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
    background-color: var(--color1);
}

.container{
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 .6em;
}

/* NAVBAR SECTION START */
.navbars, .navbar__wrapper{
    background-color: var(--color2);
    z-index: 3;
}

.navbars{
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar__wrapper{
    max-width: 1216px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logos{
    max-width: 180px;
}

.navbar__lists{
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.navbar__lists a{
    font-size: 1em;
    color: var(--color1);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.navbar__lists a:hover{
    color: var(--color9);
}

.navbar__ctas{
    /* background-color: cadetblue; */
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar__cta-btnlogin{
    color: var(--color1);
    transition: all .2s ease-in-out;
}

.navbar__cta-btnlogin:hover{
    color: var(--color9);
}

.navbar__cta-btnregister{
    width: 140px;
    border: 1px solid var(--color9);
    font-size: 1em;
    color: var(--color9);
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
    background-color: var(--color3);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    transition: all .2s ease-in-out;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.navbar__cta-btnregister:hover{
    color: var(--color1);
}

.navbar__toggle-menu{
    display: none;
    color: var(--color1);
}

.navbar__toggle-menu i{
    font-size: 35px;
}
/* NAVBAR SECTION END */
.headers{
    margin-top: 90px;
    padding-top: 30px;
    height: 56vh;
}
.header__container-hero{
    height: 620px;
    display: flex;
    justify-content: center;
    gap: 0.6em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.header__row-1{
    border-radius: 1em;
    flex: 1.5;
    display: flex;
    gap: 0.6em;
    flex-direction: column;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.header__row-2{
    border-radius: 1em;
    flex: 1.9;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.header__row-3{
    border-radius: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.header__col-1{
    background-image: url('img/fashion-1.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.header__col-2{
    flex: 1;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    background-color: var(--color4);
}

.header__title{
    flex: 1.5;
    font-size: 1.56em;
    padding: 35px 40px 0px 40px;
}
.header__title h2{
    font-weight: 600;
}
.header__ctaicon{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 40px 35px 50px;
}
.header__ctaicon a{
    border: 1px solid var(--color9);
    background-color: var(--color1);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    transition: all .2s ease-in-out;
    align-items: center;
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.header__ctaicon a:hover{
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.header__ctaicon i{
    font-size: 23px;
    color: var(--color9);
}

.header__ctaicon img{
    width: 45px;
}

.header__col-3{
    flex: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    background-color: var(--color5);
    color: var(--color9);
    border-radius: 1em;
    padding: 20px 40px 35px 50px;
    position: relative;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.bubble-user{
    display: flex;
    gap: .8em;
}

.header__col-3 h1{
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
}

.h1-text-middle{
    margin-top: -30px;
}

.bubble-user img{
    width: 100px;
}

.header__col-3 p{
    margin-top: 12px;
    font-size: 1rem;
    line-height: 25px;
}

.header__col-3 a{
    width: 140px;
    border: 1px solid var(--color9);
    font-size: 1em;
    color: var(--color1);
    text-align: center;
    padding: 10px 0;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--color2);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    transition: all .2s ease-in-out;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.header__col-3 a:hover{
    font-weight: 600;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.header__col-4{
    flex: .8;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 4em;
    background-color: var(--color6);
    border-radius: 1em;
    color: var(--color9);
    padding: 20px 40px 35px 50px;
    text-transform: capitalize;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.header__col-4-item-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.header__col-4-item-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.header__col-4-item-left h3, .header__col-4-item-right h3{
    font-size: 2.5rem;
    font-weight: 600;
}

.header__col-4-item-left span, .header__col-4-item-right span{
    font-size: 1.7rem;
    font-weight: 500;
}




.header__col-5{
    flex: 1;
    background-color: var(--color7);
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--color9);
    border-radius: 1em;
    padding: 35px 40px 0px 40px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.header__col-5-item-left{
    display: flex;
    justify-content: space-between;
}
.progress-bar{
    width: 50px;
}
.bubble-text-col-5{
    width: 90px;
}

.header__col-5-item-right{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.header__col-5-item-right h3{
    font-size: 2.5rem;
    font-weight: 600;
}

.header__col-5-item-right span{
    font-size: 1.7rem;
    color: var(--color9);
    font-weight: 500;
}

.header__col-5-item-right a{
    width: 60px;
    height: 60px;
}
.header__col-5-item-right i{
    font-size: 2rem;
    color: var(--color9);
}

.header__col-6{
    flex: 2;
    background-image: url('img/fashion-2.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

/* SECTION BEST SELLER START*/
.section__best-seller{
    margin-top: 90px;
}

.best__seller-wrapper{

    /* background-color: #CCA3FF; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.header__best-seller{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desc__best-seller{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--color9);
}
.desc__best-seller span{
    font-size: 2.1rem;
    text-transform: capitalize;
    font-weight: 600;
}

.cta__explore-more{
    width: 180px;
    font-size: 1em;
    border: 1px solid var(--color9);
    text-align: center;
    padding: 9px 0;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--color2);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.cta__explore-more i{
    font-size: 22px;
    color: var(--color1);
}
.cta__explore-more a{
    color: var(--color1);
}
.cta__explore-more:hover{
    /* font-weight: 600; */
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.header__card-best-seller{
    /* background-color: #CCA3FF; */
    height: 713px;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.card__item-best-seller-1{
    background-image: url('img/fashion-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
    flex: 1;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.card__item-best-seller-2{
    background-image: url('img/fashion-4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
    flex: 1;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.card__item-best-seller-3{
    background-image: url('img/fashion-6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
    flex: 1;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.card__item-best-seller-1, .card__item-best-seller-2, .card__item-best-seller-3{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.card__item-best-seller-1:hover, .card__item-best-seller-2:hover, .card__item-best-seller-3:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}


.card__cta-best-seller{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.cta-bs-wrapped{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-bottom: 23px;
    position: relative;
}

.cta__add-to-cart{
    width: 200px;
    border: 1px solid var(--color9);
    font-size: 1em;
    color: var(--color1);
    text-align: center;
    padding: 10px 0;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--color2);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    transition: all .2s ease;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.cta__container-select{
    width: 130px;
    position: relative;
}
.cta__select-cart{
    width: 100%;
    appearance: none;
    border: 1px solid var(--color9);
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    padding: 10px 0px;
    background-color: var(--color1);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    border-radius: 50px;
    color: var(--color9);
}

.cta__arrow-down{
    width: 25px;
    height: 25px;
    /* background-color: #282220; */
    position: absolute;
    top: 7.5px;
    right: 10px;
}
.cta__arrow-down i{
    font-size: 25px;
}

.cta-bs-wrapped{
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.card__cta-best-seller:hover .cta-bs-wrapped{
    opacity: 1;
}

.hover-effect-seller{
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.hover-effect-seller:hover{
    box-shadow: 8px 8px 0px -2px var(--color9);
}
/* SECTION BEST SELLER END*/

/* SECTION SLIDE TEXT START */
.section__slider-text{
    margin-top: 90px;
    overflow: hidden;
    position: relative;
    background-color: var(--color5);
}

.container__scroller[data-animated="true"] .scroller__inner{
    width: max-content;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
}

.container__scroller .scroller__inner:hover{
    animation-play-state: paused;
    cursor: pointer;
}

/* .container__scroller::before,
.container__scroller::after{
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
} */

/* .container__scroller::before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255,255, 0), var(--color1));
}

.container__scroller::after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255,255, 0), var(--color1));
} */

.scroller__inner{
    padding-block: 3.3em;
    display: flex;
    align-items: center;
    gap: 6em;
}


@keyframes scroll {
    to{
        transform: translate(calc(-50% - 3em));
        -webkit-transform: translate(calc(-50% - 3em));
        -moz-transform: translate(calc(-50% - 3em));
        -ms-transform: translate(calc(-50% - 3em));
        -o-transform: translate(calc(-50% - 3em));
}
}

/* SECTION SLIDE TEXT END */

/* SECTION BEST SELLER NEXT START */
.section__best-seller-next{
    margin-top: 90px;
}


.cta__group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    /* background-color: blue; */
    gap: 1em;
}
.cta__previous{
    flex: 1.9;
    border: 1px solid var(--color9);
    font-size: 1em;
    color: var(--color10);
    text-align: center;
    padding: 9px 0;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--color1);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    transition: all .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}
.cta__next{
    flex: 1.4;
    border: 1px solid var(--color9);
    font-size: 1em;
    text-align: center;
    padding: 9px 0;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--color2);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    transition: all .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.cta__next a{
    color: var(--color1);
}
.cta__next i{
    color: var(--color1);
}

.cta__previous a{
    color: var(--color9);
}
.cta__previous i{
    color: var(--color9);
}
.cta__next i, .cta__previous i{
    font-size: 22px;
}
.cta__next:hover, .cta__previous:hover{
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.fashion__categories-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 80px 0 0 0;
}
.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    /*Adjustasneeded*/
    
}

.image-container {
    width: 100%;
    height: 350px;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    outline: 2px solid transparent;
    border-radius: 150px ;
    transition: all .25s ease-in-out;
    -webkit-border-radius: 150px ;
    -moz-border-radius: 150px ;
    -ms-border-radius: 150px ;
    -o-border-radius: 150px ;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
}

  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .category p {
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 1.45rem;
    text-transform: capitalize;
  }

.image-container:hover{
    box-shadow: 8px 8px 0px -2px var(--color9);
    outline: 2px solid  var(--color9);
}

.discount__winter-container{
    margin-top: 90px;
    height: 450px;
    display: flex;
    gap: 1em;
    padding: 1em;
    background-color: var(--color5);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.image__box-left{
    background-color: var(--color4);
    background-image: url('img/icon-winter.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    border: 1px solid var(--color9);
    border-radius: 1em;
    position: relative;
    box-shadow: 8px 8px 0px -2px var(--color9);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.image__box-left img{
    position: absolute;
    top: 70px;
    right: 70px;
    width: 57px;
    
}

.desc__box-rundown-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: relative;
}
.head__caption{
    margin-top: -25px;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.head__caption h1{
    color: var(--color2);
    font-size: 2.8rem;
    font-style: italic;
    font-weight: 600;
}


.head__caption span, .head__caption h1{
    text-transform: capitalize;
}
.head__caption h3{
    text-transform: uppercase;
}

.caption__item{
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.day__time-group{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;

}
.day__data{
    display: flex;
    align-items: flex-end;
    gap: 3px;
    color: var(--color9);
    
}
.day__data span{
    font-size: 2rem;
    font-weight: 600;
}

.day__data p{
    font-size: 1.3rem;
    text-transform: capitalize;
}
.cta__shop-now{
    width: 140px;
    border: 1px solid var(--color9);
    font-size: 1em;
    color: var(--color1);
    text-align: center;
    padding: 10px 0;
    text-transform: capitalize;
    font-weight: 500;
    background-color: var(--color2);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    transition: all .2s ease-in-out;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.cta__shop-now:hover{
    font-weight: 600;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}
/* SECTION BEST SELLER NEXT END */


/* SECTION ESSENTIALS START */
.section__essentials{
    margin-top: 120px;
}
.header__essentials{
    width: 100%;
    margin-bottom: 70px;
    text-align: center;
}
.header__essentials span{
    font-size: 2.1rem;
    text-transform: capitalize;
    font-weight: 600;
}
.box__essentials-container{
    position: relative;
    height: 800px;
    border-radius: 1em;
    background-image: url('img/fashion-essentials.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.overlay__essentials{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    z-index: 1;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.box__item-essentials{
    position: absolute;
    z-index: 2;
}
.scale{
    width: 20px;
    border: 1px solid var(--color1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.icon-1,
.icon-2,
.icon-3,
.icon-4,
.icon-5,
.icon-6{
    cursor: progress;
    font-weight: 600;
    color: var(--color9);
}

.icon-1{
    top: 7%;
    right: 37.9%;
}
.icon-1::before{
    content: "Lorem ipsum dolor sit amet. - 1 ";
    position: absolute;
    top: -10px;
    left: -320px;
    padding: 12px;
    text-align: center;
    border-radius: 1em;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.icon-1:hover::before{
    visibility: visible;
    opacity: 1;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}


.icon-2{
    top: 10%;
    right: 28%;
    cursor: progress;
}
.icon-2::after{
    width: 185px;
    content: "Lorem ipsum dolor. - 2 ";
    position: absolute;
    top: -11px;
    left: 70px;
    padding: 12px;
    text-align: center;
    border-radius: 1em;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.icon-2:hover::after{
    visibility: visible;
    opacity: 1;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
}

.icon-3{
    top: 30%;
    right: 41%;
}
.icon-3::before{
    content: "Lorem ipsum dolor sit amet. - 3 ";
    position: absolute;
    top: -10px;
    left: -320px;
    padding: 12px;
    text-align: center;
    border-radius: 1em;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.icon-3:hover::before{
    visibility: visible;
    opacity: 1;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}

.icon-4{
    top: 67%;
    right: 22%;
}
.icon-4::before{
    content: "Lorem ipsum dolor sit amet. - 4 ";
    position: absolute;
    top: -10px;
    left: -320px;
    padding: 12px;
    text-align: center;
    border-radius: 1em;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.icon-4:hover::before{
    visibility: visible;
    opacity: 1;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}

.icon-5{
    top: 73%;
    right: 10%;
}
.icon-5::before{
    content: "Lorem ipsum dolor sit amet. - 5 ";
    position: absolute;
    top: -10px;
    left: -320px;
    padding: 12px;
    text-align: center;
    border-radius: 1em;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.icon-5:hover::before{
    visibility: visible;
    opacity: 1;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}

.icon-6{
    top: 80%;
    right: 37%;
}
.icon-6::before{
    content: "Lorem ipsum dolor sit amet. - 6 ";
    position: absolute;
    top: -10px;
    left: -320px;
    padding: 12px;
    text-align: center;
    border-radius: 1em;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.icon-6:hover::before{
    visibility: visible;
    opacity: 1;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}

/* SECTION ESSENTIALS END */

/* SECTION TESTIMONIALS START */
.section__testimonials{
    margin-top: 120px;
}

.header__testimonials{
    width: 100%;
    margin-bottom: 70px;
    text-align: center;
}
.header__testimonials span{
    font-size: 2.1rem;
    text-transform: capitalize;
    font-weight: 600;
}

.testimonials__container{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.testimonial__item-1,
.testimonial__item-2,
.testimonial__item-3{
    position: relative;
    border-radius: 1em;
    padding: 50px 35px;
    background-color: var(--color5);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.testimonial__item-1{
    flex: 1;
}
.testimonial__item-2{
    flex: 1;
}
.testimonial__item-3{
    flex: 1;
}

.rating__star{
    top: -15px;
    right: 0;
    width: 130px;
    position: absolute;
}

.testimonial__data{
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: var(--color9);
}
.testimonial__data span{
    line-height: 1.5em;
    font-size: 0.9rem;
}

.testimonial__user{
    display: flex;
    align-items: center;
    gap: 1em;
}
.testimonial__info{
 display: flex;
 flex-direction: column;
 gap: .3em;
 text-transform: capitalize;
}
.testimonial__info h2{
    font-weight: 500;
}
.testimonial__user img{
    width: 60px;
}

.hover-testimonial:hover{
    outline: 1px solid var(--color9);
    box-shadow: 8px 8px 0px -2px var(--color9);
    transition: outline .2s ease-in-out;
    -webkit-transition: outline .2s ease-in-out;
    -moz-transition: outline .2s ease-in-out;
    -ms-transition: outline .2s ease-in-out;
    -o-transition: outline .2s ease-in-out;
}
/* SECTION TESTIMONIALS END */

/* SECTION SUBSCRIPTION START */
.section__subscription{
    margin-top: 90px;
    height: 550px;
    border-radius: 1em;
    background-image: url('img/fashion-5.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.subscription__content{
    width: 40%;
    background-color: var(--coloe12);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7em;
    outline: 1px solid var(--color9);
    padding: 30px;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.subscription__content h2, .subscription__content p{
    color: var(--color9);
}

.subscription__content h2, .subscription__content p{
    align-self: flex-start;
}

.subscription__content h2{
    font-size: 1.95em;
    font-weight: 500;
}

.subscription__content p{
    line-height: 1.5em;
    font-size: .88em;
    width: 85%;
}

.subscription__form{
    /* background-color: #282220; */
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: center ;
}
.subscription__form input,
.subscription__form button{
    border-radius: 50px;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.subscription__form input{
    width: 100%;
    padding: 12px 20px;
    background-color: var(--color13);
}

.subscription__form button{
    width: 60%;
    border: 1px solid var(--color9);
    font-size: .95em;
    letter-spacing: 0.8px;
    color: var(--color1);
    text-align: center;
    padding: 10px;
    font-weight: 500;
    background-color: var(--color2);
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    transition: all .2s ease-in-out;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.subscription__form button:hover{
    transform: scale(1.02);
    cursor: pointer;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}
/* SECTION SUBSCRIPTION END */

/* SECTION FEATURED BLOG START */
.section__featured-blog{
    margin-top: 90px;
}

.featured-blog__content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__featured-blog{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}
.header__featured-blog h2{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 600;
}

.blog__post-wrapper{
    height: 400px;
    display: flex;
    align-items: center;
    gap: 1em;
}
.post__item-1,
.post__item-2,
.post__item-3{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.post__item-1 .image__post,
.post__item-2 .image__post,
.post__item-3 .image__post{
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.image__post{
    height: 270px;
    position: relative;
}

.post__item-1 .image__post{
    background-image: url('img/fashion-blog-post-2.jpg');
}
.post__item-2 .image__post{
    background-image: url('img/fashion-blog-post-1.jpg');
}
.post__item-3 .image__post{
    background-image: url('img/fashion-blog-post-3.jpg');
}

.post__item-1 .image__post,
.post__item-2 .image__post,
.post__item-3 .image__post{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image__post a{
    position: absolute;
    bottom: 20px;
    right: 15px;
    border: 1px solid var(--color9);
    background-color: var(--color1);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    transition: all .2s ease-in-out;
    align-items: center;
    box-shadow: 1.5px 3.8px 0px -1px var(--color9);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.image__post i{
    font-size: 23px;
    color: var(--color9);
}

.image__post a:hover{
    background-color: var(--color2);
}

.hover__post:hover{
    box-shadow: 8px 8px 0px -2px var(--color9);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.caption__post{
    font-size: .9em;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    color: var(--color9);

}
.caption__post span{
    font-size: 1.35rem;
    font-weight: 500;
}

/* SECTION FEATURED BLOG END */
@media screen and (max-width: 961px) {
  .navbar__lists, .navbar__ctas{
    display: none;
  }
  .navbar__toggle-menu{
    display: inline-block;
  }
}